<% if(!index) { %>
	<div class="article-tag tagcloud">
		<i class="icon-clock icon"></i>
	    <ul class="article-tag-list">
		    <li class="article-tag-list-item">
		    	<span id="busuanzi_container_page_pv">热度 <span id="busuanzi_value_page_pv"></span>℃</span>
		    </li>
		</ul>
    </div>
<% } %>
